p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif, Arial;
  font-weight: 400;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
input,
button,
select,
textarea {
  background: #cccccc;
  color: #fff;
  font-weight: bold;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
strong {
  font-weight: 800;
}
.fa-6x {
  font-size: 6em;
}
.fa-7x {
  font-size: 7em;
}
img,
iframe {
  max-width: 100%;
  height: auto;
}
.font-12px>thead>tr>th,
.font-12px>tbody>tr>th,
.font-12px>tfoot>tr>th,
.font-12px>thead>tr>td,
.font-12px>tbody>tr>td,
.font-12px>tfoot>tr>td {
  line-height: 16px;
}
.font-13px {
  font-size: 13px;
  line-height: 18px;
}
.font-13px tbody:before {
  line-height: 8px;
  content: "\200C";
  display: block;
}
.font-13px thead {
  font-size: 14px;
  font-weight: 400;
}
.font-13px>thead>tr>td,
.font-13px>tbody>tr>td,
.font-13px>tfoot>tr>td {
  line-height: 16px;
}
.fa-angle-left:before,
.fa-angle-right:before {
  font-weight: 600;
}
table.right_table input,
table.left_table input {
  width: 90%;
}
pre,
code {
  font-size: 0.7em;
  background-color: #eee;
  color: #000;
}
code {
  padding: 0.2em;
}
pre {
  padding: 1em;
  white-space: pre-line;
}
#first ~ h2 {
  margin-top: 2em;
}
.small {
  font-size: 0.75em;
  line-height: 1.5em;
}
hr {
  border: none;
  height: 0;
  border-top: solid 1px #ccc;
  margin: 1.5em 0;
}
.container {
  padding: 0;
}
.container .inner-page > .col-lg-9,
.inner-page .container > .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
.container .inner-page > .col-lg-3 + .col-lg-9 {
  padding-right: 0;
  padding-left: 24px;
}
.min-price {
  margin-right: 0;
}
table.left_table {
  float: left;
  width: 49%;
  margin-bottom: 25px;
}
table.right_table {
  float: right;
  width: 49%;
  margin-bottom: 25px;
}
.inner-page.about-us,
.inner-page.services,
.inner-page.pricing-tables,
.inner-page {
  margin-top: 60px;
  margin-bottom: 60px;
}
.car-block-wrap .container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.car-block-wrap h4 a {
  margin: 28px 0 12px 0;
  display: block;
  color: #c7081b;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif, Arial;
  letter-spacing: -0.5px;
  text-decoration: none;
}
.car-block-wrap .container .row > div {
  margin-bottom: 50px;
}
.car-info-wrap {
  background-color: #f0f0f0;
  padding: 37px 0 44px 0;
  text-align: center;
}
.car-info-wrap .container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.align-center {
  display: block;
  text-align: center;
}
.car-info-wrap h3 {
  font-weight: 600;
  margin: 20px 0 14px 0;
  letter-spacing: -1px;
  font-size: 29px;
  font-family: 'Open Sans', sans-serif, Arial;
}
.car-rate-block,
.content {
  display: block;
}
.small-block {
  display: block;
  transition-duration: .25s;
}
.small-block h4,
.small-block a,
.welcome-wrap .small-block h4 {
  text-align: center;
  font-weight: 700;
  letter-spacing: -2px;
  color: #2d2d2d;
  font-family: 'Open Sans', sans-serif, Arial;
}
.small-block i {
  margin: 15px 0 0 0;
}
.small-block:hover h4,
.small-block:hover a i {
  color: #c7081b;
  transition-duration: .25s;
}
.recent-vehicles-wrap {
  margin: 29px 0 0 0;
  display: block;
}
.recent-vehicles {
  display: block;
  padding: 0 14px;
}
.recent-vehicles h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: #c7081b;
  margin: 0;
  font-family: "Open Sans";
  margin-right: -15px;
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 15px;
}
.recent-vehicles p {
  color: #2d2d2d;
  letter-spacing: -0.5px;
}
.car-block {
  display: block;
  position: relative;
  background-color: #f0f0f0;
}
.car-block img {
  width: 170px;
}
.car-block .img-flex {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 555;
  transition-duration: .3s;
}
.car-block .img-flex .align-center {
  display: none;
}
.car-block:hover .img-flex {
  display: block;
  overflow: hidden;
  position: relative;
}
.car-block:hover .img-flex .align-center {
  display: block;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
}
.car-block:hover .img-flex i {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: 50%;
  margin-top: -16.5px;
  left: 50%;
  margin-left: -16.5px;
}
.car-block-bottom {
  display: block;
  background-color: #f0f0f0;
  padding: 6px 5px 10px 5px;
  text-align: center;
  transition-duration: .2s;
  transition-property: all;
}
.car-block:hover .car-block-bottom {
  background-color: #c7081b;
}
.car-block h6 strong {
  font-size: 12px;
}
.car-block .car-block-bottom h6 {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.car-block .car-block-bottom h6 strong {
  font-weight: 700;
}
.car-block-bottom h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 600;
}
.no-border {
  border: none;
  border-color: transparent;
}
.no-border>thead>tr>th,
.no-border>tbody>tr>th,
.no-border>tfoot>tr>th,
.no-border>thead>tr>td,
.no-border>tbody>tr>td,
.no-border>tfoot>tr>td {
  padding: 1px 3px;
  border: none;
  border-color: transparent;
  line-height: 17px;
}
.footer-end {
  font-size: 13px;
}
